@import 'bootstrap/dist/css/bootstrap.css';

header {
    padding: 20px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.home_header {
  color: black;
}

.home_header:hover {
  color: black;
  text-decoration: none;
}

.popluaritem {
  color: black;
}

.popluaritem:hover {
  color: black;
  text-decoration: none;
}

body {
  background-color: white;
  color: black;
}

.statics {
  background-color: rgb(236, 236, 236);
}

.statics_num {
  font-size: 50px;
}

.statics_title {
  font-size: 16px;
}

.listdetail {
  font-size: 10px;
  color: gray;
}